* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #022906;
    list-style-type: none;
}


a, h1 {
    color: lightgreen;
}

header h1 .myname {
    color:#FF69B4;
    justify-content: space-between;
}


body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #09300C;
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    }

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
     
}


header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.win {
    height: 500px;
    width: 100%;
    position: relative;
    background-image:url(B&GImage1.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    justify-content: right;
    
}

.wintxt {
    /* reverse engineer what all of this is when you have time */
    text-align: right;
    background-repeat: repeat; 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:#FF69B4; 
    margin-top: 400px; 
    font-size: 50px; 
    text-align: end; 
    font-weight: bolder; 
    text-transform: uppercase; 
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif; 
    font-weight: 550; 
    -webkit-font-smoothing: antialiased;
    color: #FF69B4;
}
.aboutme, .work, .contact  {
    color: lightgreen;
    display: flex;
    flex-direction: row;   
    align-items: baseline;
    padding-bottom: 5px;
    padding-top: 10px;
}

.borderimage {
    border-right:solid #FF69B4 2rem;
    display: flex;  
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 2px;
    padding-right: 5px;
}

.highlightscontent {
    display: flex;
    flex-direction:row;  
    margin-bottom: 10px; 
    flex: 1;
    box-sizing: border-box;
}

.highlightscontent ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2px;
    gap: 10px;
}

.highlightscontent ul li:hover {
    box-shadow: 3px 3px #FF69B4, 0em 0 .4em lightgreen;
}



.highlightscontent ul li::selection {
    color: red;
    
}
.workbox {
    display: grid;
    grid-auto-columns: 50%;
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    
}

.one {
    justify-self: stretch;
}

.two, .three {
    grid-row: 2;
    background-image: url();
}

.four, .five {
    grid-row: 3;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
    box-shadow: 3px 3px #FF69B4, 0em 0 .4em lightgreen;
}